[Unit]
Description=File Scanning Framework (FSF-Server) Service
After=network.target 

[Service]
Type=forking
User=fsf
Group=fsf
WorkingDirectory=/
PIDFile=/run/fsf/fsf.pid
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /run/fsf
ExecStartPre=/bin/chown -R fsf:fsf /run/fsf
ExecStart=/opt/fsf/fsf-server/main.py start
ExecStop=/opt/fsf/fsf-server/main.py stop
ExecReload=/opt/fsf/fsf-server/main.py restart

[Install]
WantedBy=multi-user.target

