[Unit]
Description=Bro Network Intrusion Detection System (NIDS)
After=network.target

[Service]
Type=forking
User=bro
Group=bro
Environment=HOME=/var/spool/bro
ExecStart=/usr/bin/broctl deploy
ExecStop=/usr/bin/broctl stop

[Install]
WantedBy=multi-user.target
