[Unit]
Description=Bro Network Intrusion Detection System (NIDS)
After=network.target

[Service]
Type=forking
User=bro
Group=bro
Environment=HOME=/var/spool/bro
ExecStart=/usr/bin/broctl deploy
ExecStop=/usr/bin/broctl stop
# net_admin is for bringing interface up
# net_raw is for creating a promiscuous socket
# sys_nice is for process pinning if used
Capabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_NICE

[Install]
WantedBy=multi-user.target
