[Unit]
Description=Zeek Network Intrusion Detection System (NIDS)
After=network.target

[Service]
Type=forking
User=zeek
Group=zeek
Environment=HOME=/var/spool/zeek
ExecStart=/usr/bin/zeekctl deploy
ExecStop=/usr/bin/zeekctl stop

[Install]
WantedBy=multi-user.target
