[Unit]
Description=Kafka
After=network.target

[Service]
User=kafka
Group=kafka
EnvironmentFile=/etc/sysconfig/kafka
ExecStart=/usr/share/kafka/bin/kafka-server-start.sh $KAFKA_SERVER_CONFIG

[Install]
WantedBy=multi-user.target
